body{
    margin: 0;
    padding: 0;
}

#dvpainel{
    width: 100%;
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
}

#pontuação, #nivel{
    display: flex;
    padding: 5px;
    border: 1px solid black;
    align-items: center;
}

#pontosjogador, #pontoscpu{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 5px;
}

.pontos{
    margin-left: 30px;
}

#facil{
    margin-left: 15px;
    background-color: rgb(0, 204, 17);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#normal{
    margin-left: 15px;
    background-color: rgb(201, 204, 0);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#dificil{
    margin-left: 15px;
    background-color: rgb(204, 7, 0);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#dvcampo{
    max-width: 360px;
    height: 450px;
    background-color: #324586;
    margin: 5px;
}

#dvcpu{
    width: 100px;
    height: 20px;
    background-color: rgb(56, 53, 53);
}

#dvbola{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

#dvjogador{
    width: 100px;
    height: 20px;
    background-color: #FBE8CA;
}