body{
    margin: 0;
    padding: 0;
}

#dvpainel{
    width: 100%;
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
}

#pontuação, #nivel{
    display: flex;
    padding: 5px;
    border: 1px solid black;
    align-items: center;
}

#pontosjogador, #pontoscpu{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 5px;
}

.pontos{
    margin-left: 30px;
}

#facil{
    margin-left: 15px;
    background-color: rgb(0, 204, 17);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 3px 0px black;
}

#normal{
    margin-left: 15px;
    background-color: rgb(201, 204, 0);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 3px 0px black;
}

#dificil{
    margin-left: 15px;
    background-color: rgb(204, 7, 0);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 3px 0px black;
}

#dificil:hover, #normal:hover, #facil:hover{
    filter: brightness(1.4);
}

#dvcampo{
    max-width: 360px;
    height: 420px;
    background-color: #324586;
    margin: 5px;
    background-image: linear-gradient(95deg, #324586, #2145bd);
    box-shadow: 0px 1px 1px 1px black;
}

#dvcpu{
    width: 100px;
    height: 20px;
    background-color: rgb(56, 53, 53);
    background-image: url('img/barracpu.jpg');
    background-position: center;
    position: absolute;
    top: 100px;
    left: 130px;
    box-shadow: -1px 1px 3px 0px black;
}

#dvbola{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    background-image: linear-gradient(55deg, #999999, #ffffff 75%);
    position: absolute;
    top: 290px;
    left: 170px;
    box-shadow: -1px 1px 4px 0px black;
}

#dvjogador{
    width: 100px;
    height: 20px;
    background-color: #FBE8CA;
    background-image: url('img/jogador.jpg');
    background-position: center;
    position: absolute;
    top: 495px;
    left: 130px;
    box-shadow: -1px 1px 1px 0px black;
}

#controles{
    display: flex;
    max-width: 355px;
    margin: 15px 5px;
    justify-content: center;
}

#dvdireita, #dvesquerda{
    width: 55px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    text-align: center;
    line-height: 180%;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
}

#dvinicia{
    position: absolute;
    top: 538px;
    left: 285px;
    padding: 5px 10px;
}